* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

/* CUSTOM PROPERTIES */
:root {

    /* Colors */
    --color-light: #fff;
    --color-dark: #000;
    --color-green: #257E69;
    --color-wood: #683C11;
    --color-coffee: #9F7E54;
    --color-sand: #E5D6C4;
    --color-blue: #14142B;

    /* Fonts */
    --font-sans-1: "bebas-neue-pro", sans-serif;
    --font-sans-2: "Inter", sans-serif;
    --font-size: 16px;
    --font-scale: 1.25;

    --font-size-1: var(--font-size);
    --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
    --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
    --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
    --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
    --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
    --font-size-small: calc( var(--font-size-1) / var(--font-scale) );
    
    --line-height: 1.5;

    /* Grid */
    --inner-width: 64rem;
    --grid-container: minmax(32px, 1fr) [inner-start] minmax(0, var(--inner-width)) [inner-end] minmax(32px, 1fr)
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-sans-1);
}

h1 {
    font-size: var(--font-size-6);
}

h2 {
    font-size: var(--font-size-5);
}

h3 {
    font-size: var(--font-size-4);
}

h4 {
    font-size: var(--font-size-3);
}

h5 {
    font-size: var(--font-size-2);
}

h6 {
    font-size: var(--font-size-1);
}

p,
a,
li {
    font-family: var(--font-sans-2);
    font-size: var(--font-size-1);
    line-height: var(--line-height);
}

a {
    text-decoration: none;
}

/* COMPONENTS */
.button {
    display: inline-block;
    border: none;
    background: var(--color-green);
    color: var(--color-light);
    font-size: var(--font-size-small);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 0.75rem 1.5rem;
}

/* MAIN LAYOUT */
body {
    background-color: var(--color-coffee);
}

/* HEADER */
.site-header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.site-header__buttons {
    width: 240px; /*temp*/
    height: 66px; /*temp*/
    background-color: red; /*temp*/
    border: 2px solid green; /*temp*/
}

/* LOGO */
.logo {
    width: 120px;
}

/* MENU */
.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5rem;
}

/* HERO AND SWIPER */
.hero {
    display: grid;
    min-height: 100vh;
}
.hero__content {
    height: 300px; /*temp*/
    width: 500px; /*temp*/
    background-color: red; /*temp*/
    border: 2px solid green; /*temp*/
}
.hero__title {
    color: var(--color-light);
    margin: 0;
    text-transform: uppercase;
    font-size: 4.5rem;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.10);
}
.hero__desc {
    font-family: var(--font-sans-2);
    font-weight: 300;
    color: var(--color-light);
    margin: 0;
    max-width: 24rem;
}

.swiper {
    width: 800px; /*temp*/
    height: 500px; /*temp*/
    background-color: red; /*temp*/
    border: 2px solid green; /*temp*/
    position: absolute;
    right: 0;
    bottom: 50px;
}

.social {
    width: 75px; /*temp*/
    height: 345px; /*temp*/
    background-color: red; /*temp*/
    border: 2px solid green; /*temp*/
    position: absolute;
    left: 0;
    bottom: 50px;
}

.social__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.social__link {
    color: var(--color-light);
}

.hero__ad-text {
    width: 400px; /*temp*/
    height: 100px; /*temp*/
    background-color: red; /*temp*/
    border: 2px solid green; /*temp*/
}