* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

/* CUSTOM PROPERTIES */
:root {

    /* Colors */
    --color-light: #fff;
    --color-dark: #000;
    --color-green: #257E69;
    --color-wood: #683C11;
    --color-coffee: #9F7E54;
    --color-sand: #E5D6C4;
    --color-blue: #14142B;

    /* Fonts */
    --font-sans-1: "bebas-neue-pro", sans-serif;
    --font-sans-2: "Inter", sans-serif;
    --font-size: 16px;
    --font-scale: 1.25;

    --font-size-1: var(--font-size);
    --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
    --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
    --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
    --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
    --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
    --font-size-small: calc( var(--font-size-1) / var(--font-scale) );
    
    --line-height: 1.5;

    /* Grid */
    --inner-width: 64rem;
    --grid-container: minmax(32px, 1fr) [inner-start] minmax(0, var(--inner-width)) [inner-end] minmax(32px, 1fr)
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-sans-1);
}

h1 {
    font-size: var(--font-size-6);
}

h2 {
    font-size: var(--font-size-5);
}

h3 {
    font-size: var(--font-size-4);
}

h4 {
    font-size: var(--font-size-3);
}

h5 {
    font-size: var(--font-size-2);
}

h6 {
    font-size: var(--font-size-1);
}

p,
a,
li {
    font-family: var(--font-sans-2);
    font-size: var(--font-size-1);
    line-height: var(--line-height);
}

a {
    text-decoration: none;
}

/* COMPONENTS */
.button {
    display: inline-block;
    border: none;
    background: var(--color-green);
    color: var(--color-light);
    font-size: var(--font-size-small);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 0.75rem 1.5rem;
}