/* RESET */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}


/* CUSTOM PROPERTIES */
:root {

    /* Colors */
    --color-light: #fff;
    --color-dark: #000;
    --color-green: #257E69;
    --color-wood: #683C11;
    --color-coffee: #9F7E54;
    --color-sand: #E5D6C4;
    --color-blue: #14142B;

    /* Fonts */
    --font-sans-1: "bebas-neue-pro", sans-serif;
    --font-sans-2: "Inter", sans-serif;
    --font-size: 16px;
    --font-scale: 1.25;

    --font-size-1: var(--font-size);
    --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
    --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
    --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
    --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
    --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
    --font-size-small: calc( var(--font-size-1) / var(--font-scale) );
    
    --line-height: 1.5;

    /* Grid */
    --inner-width: 64rem;
    --grid-container: minmax(32px, 1fr) [inner-start] minmax(0, var(--inner-width)) [inner-end] minmax(32px, 1fr)
}


/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-sans-1);
}

h1 {
    font-size: var(--font-size-6);
}

h2 {
    font-size: var(--font-size-5);
}

h3 {
    font-size: var(--font-size-4);
}

h4 {
    font-size: var(--font-size-3);
}

h5 {
    font-size: var(--font-size-2);
}

h6 {
    font-size: var(--font-size-1);
}

p,
a,
li {
    font-family: var(--font-sans-2);
    font-size: var(--font-size-1);
    line-height: var(--line-height);
}

a {
    position: relative;
    text-decoration: none;
}


/* COMPONENTS */
.button {
    display: inline-block;
    border: none;
    background: var(--color-green);
    color: var(--color-light);
    font-size: 1.25rem;
    font-weight: 500;
    font-family: var(--font-sans-1);
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 0.75rem 1.5rem;
    transition: background 0.3s;
}

.button.button--big {
    font-size: 1.5rem;
    font-family: var(--font-sans-1);
}

.button:hover {
    background: hsl(166, 55%, 20%);
}



/* MAIN LAYOUT */
body {
    background-color: var(--color-coffee);
}


/* HEADER */
.site-header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.site-header__buttons {
    display: flex;
    gap: 1.5rem;
}

#menu-button,
.favourites-button {
    border: none;
    background: none;
}


/* LOGO */
.logo {
    width: 150px;
}

/* MENU */
.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5rem;
}

.menu__link {
    color: var(--color-light);
    font-family: var(--font-sans-1);
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.menu__link::before,
.resp-menu__link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--color-sand);
    transform: scale(0);
    transition: 0.3s ease;
}

.menu__link:hover::before,
.resp-menu__link:hover::before {
    transform: scale(1);
    height: 2.5px;
}


/* MENU RESPONSIVE */
.resp-menu {
    position: fixed;
    z-index: 999;
    background-color: var(--color-coffee);
    width: 100%;
    height: 100vh;
    padding: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.resp-menu--open {
    display: flex;
}

.resp-menu__logo {
    width: 20rem;
}

.resp-menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.resp-menu__link {
    color: var(--color-light);
    font-family: var(--font-sans-1);
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
}

.close-button {
    background: none;
    border: 0;
    position: absolute;
    right: 1.5rem;
    top: 1.8rem;
    cursor: pointer;
}

.close-button svg {
    stroke: #fff;
    width: 2.5rem;
}

.social__resp {
    margin: 0;
    padding: 0;
}

.social__resp .social__list {
    flex-direction: row;
}


/* HERO */
.hero {
    display: grid;
    min-height: 100vh;
}

.hero__main {
    display: grid;
    grid-template-columns: var(--grid-container);
}

.hero__inner {
    grid-column: inner;
}

.hero__content {
    position: absolute;
    max-width: 36.5rem;
    z-index: 99;
    left: 20%;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.4rem;
}

.hero__title {
    color: var(--color-light);
    margin: 0;
    text-transform: uppercase;
    font-size: 4.5rem;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.10);
}

.hero__title span,
.hero__ad-text span {
    color: var(--color-sand);
}

.hero__desc {
    max-width: 30rem;
    font-weight: 300;
    font-size: var(--font-size-2);
    color: var(--color-light);
    opacity: 80%;
    margin: 0;
    line-height: 2rem;
}

.hero__desc::before {
    content: '';
    position: absolute;
    display: block;
    height: 130px;
    width: 4px;
    top: 108px;
    left: 64px;
    background-color: rgb(37, 126, 106, 0.50);
    transform: rotate(90deg);
}


/* SWIPER */
.swiper {
    width: 100%;
    min-height: 100vh;
}

.swiper-arrow-left,
.swiper-arrow-right {
    position: absolute;
    top: 50%;
    z-index: 99;
    left: 42px;
    fill: var(--color-blue);
}

.swiper-arrow-right {
    left: auto;
    right: 42px;
}

.swiper-slide {
    display: grid;
    grid-template-columns: var(--grid-container);
    background-image: url(assets/images/1.jpg);
    background-size: cover;
    background-position: center;
}

.swiper-slide:nth-of-type(2) {
    background-image: url(assets/images/2.jpg);
    background-size: cover;
    background-position: center;
}

.swiper-slide:nth-of-type(3) {
    background-image: url(assets/images/3.jpg);
    background-size: cover;
    background-position: center;
}

.swiper-slide::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(160, 127, 84, 0.45);
}

.social {
    max-width: 100%;
    font-size: var(--font-size-4);
    font-weight: 800;
    position: absolute;
    left: 42px;
    bottom: 2.5rem;
    z-index: 99;
}

.social__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.social__link {
    color: var(--color-light);
}


/* AD-TEXT */
.hero__ad-text {
    max-width: 27rem;
    font-family: var(--font-sans-1);
    font-size: var(--font-size-5);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-light);
    position: absolute;
    right: 42px;
    bottom: 2.5rem;
    z-index: 99;
}

.hero__ad-text span {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.10);
}


/* 1024 px */
@media screen and ( max-width: 1024px ) {

    .menu {
        display: none;
    }

}

/* 900px */
@media screen and ( max-width: 900px ) {



}